#notFound {
    display: flex;
    flex-direction: column;
    text-align: center;

}

#notFound img {
    width: 50%;
    margin: 0 auto;
}

.reason {
    color: rgb(159, 25, 29);
    font-size: 30px;
    font-weight: 500;
}

#notFound a {
    margin-top: 2rem;
    color: #ffffff;
    text-decoration: none; 
    font-weight: 500;
    font-size: 24px;
}

#notFound a:hover {
    color: #5948ef
}

.fa-house{
    margin-left: 0.5rem;
}