* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
    font-family: sans-serif;
    padding: 1.5rem;
    background-image: linear-gradient(to right, #151541, #9595f4)
}

.container{
    width: 50%;
    margin: 0 auto;
}